

button{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 24.5%;
    margin: 0.2%;

    background: rgb(206, 206, 206);
    box-shadow: none;
    border: none;
}

button:hover{
    background: rgb(235, 232, 232);
}
button:focus{
    outline: none;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 24.5%;
    margin: 0.2%;
    font-size: 13px;
    box-shadow: none;
    border: none;
}
