#container{
    text-align: center;
    background: white;
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -50%;
    margin-top: -7.5%;

    height: 89%;
}

.active{
    width: 24.5%;

    box-shadow: none;
    border: none;
    background: rgb(235, 232, 232);
    outline: none;
}


